/**
 * BOOTSTRAP SOCIAL
 */

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

/*
 * Social Buttons for Bootstrap
 *
 * Copyright 2013-2016 Panayiotis Lipiridis
 * Licensed under the MIT License
 *
 * https://github.com/lipis/bootstrap-social
 */

.btn-social{position:relative;padding-left:44px;text-align:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}.btn-social>:first-child{position:absolute;left:0;top:0;bottom:0;width: 35px;line-height: 32px;font-size: 1.3em;text-align:center;border-right:1px solid rgba(0,0,0,0.2);}
.btn-social.btn-lg{padding-left:61px}.btn-social.btn-lg>:first-child{line-height:45px;width:45px;font-size:1.8em}
.btn-social.btn-sm{padding-left:38px}.btn-social.btn-sm>:first-child{line-height:28px;width:28px;font-size:1.4em}
.btn-social.btn-xs{padding-left:30px}.btn-social.btn-xs>:first-child{line-height:20px;width:20px;font-size:1.2em}
.btn-social-icon{position:relative;padding-left:44px;text-align:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;height:34px;width:34px;padding:0}.btn-social-icon>:first-child{position:absolute;left:0;top:0;bottom:0;width:32px;line-height:34px;font-size:1.6em;text-align:center;border-right:1px solid rgba(0,0,0,0.2)}
.btn-social-icon.btn-lg{padding-left:61px}.btn-social-icon.btn-lg>:first-child{line-height:45px;width:45px;font-size:1.8em}
.btn-social-icon.btn-sm{padding-left:38px}.btn-social-icon.btn-sm>:first-child{line-height:28px;width:28px;font-size:1.4em}
.btn-social-icon.btn-xs{padding-left:30px}.btn-social-icon.btn-xs>:first-child{line-height:20px;width:20px;font-size:1.2em}
.btn-social-icon>:first-child{border:none;text-align:center;width:100% !important}
.btn-social-icon.btn-lg{height:45px;width:45px;padding-left:0;padding-right:0}
.btn-social-icon.btn-sm{height:30px;width:30px;padding-left:0;padding-right:0}
.btn-social-icon.btn-xs{height:22px;width:22px;padding-left:0;padding-right:0}
.btn-facebook{color:#fff;background-color:#3b5998;border-color:rgba(0,0,0,0.2)}.btn-facebook:focus,.btn-facebook.focus{color:#fff;background-color:#2d4373;border-color:rgba(0,0,0,0.2)}
.btn-facebook:hover{color:#fff;background-color:#2d4373;border-color:rgba(0,0,0,0.2)}
.btn-facebook:active,.btn-facebook.active,.open>.dropdown-toggle.btn-facebook{color:#fff;background-color:#2d4373;border-color:rgba(0,0,0,0.2)}.btn-facebook:active:hover,.btn-facebook.active:hover,.open>.dropdown-toggle.btn-facebook:hover,.btn-facebook:active:focus,.btn-facebook.active:focus,.open>.dropdown-toggle.btn-facebook:focus,.btn-facebook:active.focus,.btn-facebook.active.focus,.open>.dropdown-toggle.btn-facebook.focus{color:#fff;background-color:#23345a;border-color:rgba(0,0,0,0.2)}
.btn-facebook:active,.btn-facebook.active,.open>.dropdown-toggle.btn-facebook{background-image:none}
.btn-facebook.disabled:hover,.btn-facebook[disabled]:hover,fieldset[disabled] .btn-facebook:hover,.btn-facebook.disabled:focus,.btn-facebook[disabled]:focus,fieldset[disabled] .btn-facebook:focus,.btn-facebook.disabled.focus,.btn-facebook[disabled].focus,fieldset[disabled] .btn-facebook.focus{background-color:#3b5998;border-color:rgba(0,0,0,0.2)}
.btn-facebook .badge{color:#3b5998;background-color:#fff}
.btn-google{color:#fff;background-color:#dd4b39;border-color:rgba(0,0,0,0.2)}.btn-google:focus,.btn-google.focus{color:#fff;background-color:#c23321;border-color:rgba(0,0,0,0.2)}
.btn-google:hover{color:#fff;background-color:#c23321;border-color:rgba(0,0,0,0.2)}
.btn-google:active,.btn-google.active,.open>.dropdown-toggle.btn-google{color:#fff;background-color:#c23321;border-color:rgba(0,0,0,0.2)}.btn-google:active:hover,.btn-google.active:hover,.open>.dropdown-toggle.btn-google:hover,.btn-google:active:focus,.btn-google.active:focus,.open>.dropdown-toggle.btn-google:focus,.btn-google:active.focus,.btn-google.active.focus,.open>.dropdown-toggle.btn-google.focus{color:#fff;background-color:#a32b1c;border-color:rgba(0,0,0,0.2)}
.btn-google:active,.btn-google.active,.open>.dropdown-toggle.btn-google{background-image:none}
.btn-google.disabled:hover,.btn-google[disabled]:hover,fieldset[disabled] .btn-google:hover,.btn-google.disabled:focus,.btn-google[disabled]:focus,fieldset[disabled] .btn-google:focus,.btn-google.disabled.focus,.btn-google[disabled].focus,fieldset[disabled] .btn-google.focus{background-color:#dd4b39;border-color:rgba(0,0,0,0.2)}
.btn-google .badge{color:#dd4b39;background-color:#fff}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    font-family: 'Noto Sans',sans-serif;
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

@keyframes ispeak {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.7) rotateZ(15deg);
        -ms-transform: scale(0.7) rotateZ(15deg);
        -o-transform: scale(0.7) rotateZ(15deg);
        transform: scale(0.7) rotateZ(15deg);
    }
    20% {
        opacity: 0.5;
        -webkit-transform: scale(1) rotateZ(-10deg);
        -ms-transform: scale(1) rotateZ(-10deg);
        -o-transform: scale(1) rotateZ(-10deg);
        transform: scale(1) rotateZ(-10deg);
    }
    40% {
        opacity: 1;
        -webkit-transform: rotateZ(10deg);
        -ms-transform: rotateZ(10deg);
        -o-transform: rotateZ(10deg);
        transform: rotateZ(10deg);
    }
    50% {
        -webkit-transform: scale(1.0) rotateZ(-5deg);
        -ms-transform: scale(1.0) rotateZ(-5deg);
        -o-transform: scale(1.0) rotateZ(-5deg);
        transform: scale(1.0) rotateZ(-5deg);
    }
    70% {
        -webkit-transform: rotateZ(5deg);
        -ms-transform: rotateZ(5deg);
        -o-transform: rotateZ(5deg);
        transform: rotateZ(5deg);
    }
    100% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes line {
    0% {
        min-height: 0;
        bottom: calc(100% + 10px);
    }
    85% {
        min-height: 65px;
        bottom: calc(100% + 30px);
    }
    100% {
        min-height: 65px;
        bottom: calc(100% + 30px);
        -webkit-transform: scaleY(0);
        -ms-transform: scaleY(0);
        -o-transform: scaleY(0);
        transform: scaleY(0);
    }
}

/*
 * TRANSITION
 */

#login-form button, #login-form input,.logo  {
    -webkit-transition: 0.25s all;
    -moz-transition: 0.25s all;
    -o-transition: 0.25s all;
    transition: 0.25s all;
}

#background {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #008dd5;
    background-image: url('../img/background.jpg');
    background-size: cover;
}
#background:before {
    content: '';
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    position: fixed;
    background: #008dd5;
    opacity: 0.4;
}

#background #form-container {
    position: relative;
    width: 300px;
    display: table;
    height: 100%;
    margin: auto;
    text-align: center;
}

#background #form-container > .inner {
    display: table-cell;
    vertical-align: middle;
}

.logo-container {
    position: relative;
    display: inline-block;
    text-align: center;
    padding-bottom: 30px;
}

.logo {visibility: hidden;}
.logo.animate {
    visibility: visible;
    animation-name: ispeak;
    animation-duration: 0.8s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

.line {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    margin: auto;
}

.line [class^="l"] {
    position: absolute;
    width: 3px;
    border-radius: 6px;
    margin: auto;
    background: #fff;
    /*ie fix*/
    min-height: 0;
    bottom: calc(100% + 15px);
}

.line [class^="l"].animate {
    animation-delay: 0.2s;
    animation-name: line;
    animation-duration: 0.7s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

.line .outer {
    position: absolute;
}

.line .outer.o1 {
    -webkit-transform: rotateZ(-35deg);
    -ms-transform: rotateZ(-35deg);
    -o-transform: rotateZ(-35deg);
    transform: rotateZ(-35deg);
    left: 0;
}

.line .outer.o2 {
    bottom: calc(100% + 5px);
    left: 50%;
}

.line .outer.o3 {
    right: 0;
    -webkit-transform: rotateZ(35deg);
    -ms-transform: rotateZ(35deg);
    -o-transform: rotateZ(35deg);
    transform: rotateZ(35deg);
}


/**
 * LOGIN FORM
 */

#login-form {
    text-align: left;
    color: #666;
    background: #fff;
    border: 1px solid #c7d7df;
    border-radius: 1px;
    box-shadow: 0px 10px 25px 1px rgba(0, 0, 0, 0.4);
}

#login-form .title {
    text-align: center;
    margin: 0;
    padding: 13px 25px 15px;
    font-weight: normal;
    letter-spacing: -1px;
    font-size: 28px;
    border-bottom: 2px solid #e7e7e7;
}

#login-form > .inner {
    padding: 0 25px;
}

#login-form label {
    display: block;
    padding-bottom: 7px;
    font-size: 13px;
}

#login-form input {
    clear: both;
    border: 1px solid #ddd;
    border-radius: 1px;
    padding: 7.5px 5px;
    width: 100%;
}

#login-form input:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}

#login-form .body {
    padding: 25px;
    color: #333;
}

#login-form .form-group {
    margin-bottom: 10px;
}

#login-form .forgot,#login-form .register {
    color: #008dd5;
    font-size: 12px;
    text-align: center;
    display: block;
    text-decoration: none;
    margin-bottom: 5px;
}

#login-form .register {
    padding-top: 5px;
}

#login-form .forgot {
    color: #666;
}

#login-form button.login {
    background: #008dd5;
    border: 0;
    color: #fff;
    display: block;
    margin: auto;
    cursor: pointer;
    padding: 8px 35px;
    border-radius: 2px;
    margin-top: 15px;
    font-size: 14px;
}

#login-form button.login:hover {
    background: #25b1f7;
}

#social-login {
}

#social-login .grid.first{
    float: left;
    width: 50%;
    padding-right: 7.5px;
}

#social-login .grid.last{
    float: right;
    width: 50%;
    padding-left: 7.5px;
}

#social-login .btn-social {width:100%;text-align: center;}

#social-login .head {font-size: 13px;padding-bottom: 10px;text-align: center;}

#social-login .hr {font-size: 12px;position: relative;z-index: 9;text-align: center;}
#social-login .hr span {display: inline-block;background: #fff;padding: 12px 7.5px;}
#social-login .hr:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 1px;
    width: 100%;
    background: #ddd;
    z-index: -14;
    left: 0;
}