body {
    font-family: sans-serif;
}

label.error {color: #ff5544;padding-top: 5px;}
.btn.mask {margin-left: 10px;}

/*home*/
#wrapper {}

#wrapper .h1-home-title {color: #880015;font-size: 28px;text-align: center;padding-bottom: 15px;}

#wrapper .home-info {
    float: right;
    clear: both;
}

#wrapper .home-title {
    color: #ed1c24;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

#wrapper .home-group {text-align: center;padding-bottom: 20px;}

#wrapper .home-group .btn{
    padding: 10px 25px;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    margin-right: 15px;
    width: 200px;
}

#wrapper .home-group .btn.btn-success {
    background: #22b14c;
}

.tuchamdiem {
    max-width: 120px;
    padding: 3px 7px;
    height: 25px;
    margin-top: 10px;
    border-radius: 1px;
}


/*LIST aka xem bao cao*/


#table-kh td {
    vertical-align: middle;
}

.dataTables_wrapper .row {margin: auto;}
.dataTables_wrapper .row:first-child, .dataTables_wrapper .row:last-child {padding: 0 15px;}
.dataTables_wrapper .row [class^="col-"] {
    padding: 1px;
}

#table-filters {
    padding: 25px 15px;
    text-align: center;
}

#table-filters .filter-group {
    display: inline-table;
    margin-right: 20px;
}

#table-filters .filter-group .filter {
    display: table-cell;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px 0 0 4px;
    margin-right: -4px;
    vertical-align: middle;
    background: #444;
    color: #fff;
}

#table-filters .filter-group .input-wrapper {
    display: table-cell;
}

#table-filters .filter-group .form-control {
    width: auto;
    display: inline-block;
    border-radius: 0 2px 2px 0;
    height: auto;
    padding: 5px 10px;
}

.table-nav {
    margin-top: 10px;
    text-align: center;
}

.table-nav .btn {
    display: inline-block;
}
/*Trang thai*/
.tag {display: inline-block;
    padding: 2.5px 4px 3px; 
    border-radius: 2px;
    width: 100%;
    max-width: 100px;
}
.tag.pending {background: #ed1c24; color: #fff;}
.tag.co-tai-khoan {background: #ff7f27;color: #fff;}
.tag.hoc-vien {background: #22b14c; color: #fff;}
.tag.da-hoc-thu {background: #880015; color: #fff;}

/**
 * VIEW PAGE
 */

#view {
    font-size: 16px;
}

#chart-container {
    position: relative;
}

#chart-title {
    position: relative;
    top: 0;
    width: 100%;
    text-align: center;
}

#chart-container .rating {
    position: absolute;
    top: calc(50%);
    width: 100%;
    text-align: center;
    font-size: 24px;
    z-index: 999;
}

#chart-container .rating strong {
    font-size: 1.3em;
}
